.carousel-container {
  max-width: 600px;
  margin: 0 auto;
}

.carousel-container h2 {
  text-align: center;
}

.slick-slide img {
  width: 100%;
  /* height: auto; */
  display: block;
  margin: 0 auto;
}

.slick-dots {
  text-align: center;
  margin-top: 20px;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 10px;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #000;
}

.image{
   height:300px;
   width:100%;
}